@import 'utilities/colors';
@import 'utilities/dimensions';
@import 'utilities/scrollbars';

button {
  background-color: transparent;
  appearance: none;
  border: none;
  outline: none;
  transition: all 0.3s ease-in;
}