:root {
    --primary: #2096C4;
    --secondary: #7A4DFF;
    --yellow: #F2C94C;
    --navy: #172b4d;
    --mint: #CEF9C6;
    --peach: #FFF8DD;
    --orange: #F2994A;
    --orange2: #F27A54;
    --blue: #2F80ED;
    --white: #FFFFFF;
    --black: #313131;
    --black2: #333333;
    --black3: #4F4F4F;
    --grey: #dee2e6;
    --grey2: #6c757d;
    --grey3: #495057;
    --light: #f7fafc;
}

$primary: #2096C4 !default;
$secondary: #7A4DFF !default;
$yellow: #F2C94C !default;
$navy: #172b4d !default;
$mint: #CEF9C6 !default;
$peach: #FFF8DD !default;
$orange: #F2994A !default;
$orange2: #F27A54 !default;
$blue: #2F80ED !default;
$white: #FFFFFF !default;
$black: #313131 !default;
$black2: #333333 !default;
$black3: #4F4F4F !default;
$grey: #dee2e6 !default;
$grey2: #6c757d !default;
$grey3: #495057 !default;
$light: #f7fafc !default;